body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.nao-iniciado {
    color: rgb(255, 0, 0);
}
.em-andamento {
    color: rgb(255, 81, 0);
}
.concluido {
    color: rgb(0, 255, 42);
}
.concluido::after {
    content: ' (concluído)';
    background-color:blue;
    color: white;
    margin-left: 5px;
    padding: 2px 4px;
    font-size: 0.5em;
    vertical-align: middle;
    font-weight: 700;
}

